# Arquivos de compilação e diretórios
bin/
obj/
.vs/

# Arquivos de configuração locais
.vscode/
.idea/


# Arquivos temporários
*.tmp
*.bak
/globo-clima/obj/
/globo-clima/bin
/.vagrant
/.vs
/.vs
/globo-clima/publish
globo-clima/appsettings.json
